@import 'base/all';

@import 'modules/tiny-slider';

@import 'partials/header';
@import 'partials/footer';

@import 'partials/wave';
@import 'partials/banner';
@import 'partials/advantages';
@import 'partials/help';
@import 'partials/models';
@import 'partials/producer';
@import 'partials/look';
@import 'partials/bunker';
@import 'partials/montag';
@import 'partials/types';
@import 'partials/consultation';

@import 'partials/modal';

.parallax-obj{
  position: absolute;
  transition-duration: .2s;
  z-index: 1;
  display: none;
  @media(min-width:1200px){
    display: block;
  }
}

.container{
  z-index: 2;
  position: relative;
}