.advantages{
  & > .container{
    position: relative;
    z-index: 2;
  }
  &__top{
    background: url(../img/advantages-bg.png) no-repeat center top/cover;
    padding-bottom: 100px;
    position: relative;
    @media(min-width:768px){
      padding-bottom: 300px;
    }
  }
  &__bottom{
    position: relative;
    overflow: hidden;
    z-index: 1;
    @media(max-width:767px){
      background: var(--green);
      padding-bottom: 100px;
    }
    @media(min-width:768px){
      margin-top: -300px;
    }
    .container{
      position: relative;
      z-index: 3;
      padding-top: 100px;
      @media(min-width:992px){
        padding-top: 185px;
      }
    }
  }
  &__list{
    margin-top: -52px;
    border-radius: 15px;
    background-color: var(--white);
    width: 1128px;
    max-width: calc(100% - 32px);
    margin-left: auto;
    margin-right: auto;
    @media(min-width:992px){
      display: flex;
      justify-content: space-between;
    }
  }
  &__item{
    padding: 32px;
    @media(max-width:991px){
      max-width: 400px;
      margin-left: auto;
      margin-right: auto;
    }
    @media(min-width:992px){
      padding: 45px 45px 90px;
      width: calc(100% / 3);
    }
    img{
      display: block;
      margin-bottom: 14px;
      width: auto;
      height: 200px;
      margin-left: auto;
      margin-right: auto;
    }
    h4{
      font-size: 20px;
      color: var(--dark);
      line-height: 1.2;
      span{
        font-weight: 900;
        color: var(--green);
      }
    }
  }
  &__wave{
    position: absolute;
    width: auto;
    height: 100%;
    top: 0;
    left: -15%;
    display: block;
    animation: 50s advWave linear infinite;
    max-width: none;
    @media(max-width:767px){
      display: none;
    }
    @keyframes advWave {
      50%{
        transform: translateX(calc(-80% + 100vw));
      }
    }
  }
  h2{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    max-width: 600px;
    margin-bottom: 24px;
    span{
      display: block;
      color: var(--greenish);
    }
  }
  &__slogan{
    display: flex;
    margin-left: auto;
    margin-right: auto;
    max-width: 500px;
    svg{
      width: 67px;
      height: auto;
    }
  }
  h3{
    font-size: 24px;
    margin-left: 22px;
    color: var(--white);
  }
  &__pogreb{
    margin-top: 30px;
    @media(min-width:768px){
      display: flex;
      margin-top: 0;
    }
    @media(min-width:1200px){
      margin-top: -30px;
    }
    & > img{
      display: block;
      position: relative;
      z-index: 1;
      @media(min-width:768px){
        width: 40%;
      }
      @media(min-width:1200px){
        width: auto;
      }
    }
  }
  &__items{
    width: 100%;
    position: relative;
    z-index: 2;
    @media(max-width:767px){
      text-align: center;
    }
    @media(min-width:768px){
      width: 30%;
      padding-top: 50px;
    }
    @media(min-width:1200px){
      width: 320px;
      padding-top: 100px;
    }
    &-left{
      @media(min-width:768px){
        text-align: right;
      }
      img{
        left: calc(100% + 16px);
      }
      &-01 img{
        top: -24px;
      }
      &-02 img{
        top: -36px;
      }
    }
    &-right{
      margin-left: auto;
      img{
        right: calc(100% + 16px);
      }
      &-01 img{
        top: -6px;
      }
      &-02 img{
        top: 30px;
      }
      &-03 img{
        top: -85px;
      }
    }
    li{
      font-size: 20px;
      color: var(--greenish);
      font-weight: 600;
      position: relative;
      span{
        font-weight: 400;
        font-size: 16px;
        color: var(--white);
        display: block;
        margin-top: 10px;
      }
      &:not(:first-child){
        margin-top: 20px;
      }
      img{
        display: block;
        position: absolute;
        @media(max-width:1199px){
          display: none;
        }
      }
    }
  }
  &__pomidor{
    right: 10%;
    top: 80%;
  }
  &__banka{
    left: 30px;
    top: 100%;
  }
  &__banka3{
    right: 30px;
    top: 60%;
    transition-duration: .5s;
  }
  &__klybnika{
    right: 1%;
    top: 115%;
    transition-duration: .3s;
  }
  &__yagodua{
    left: 5%;
    bottom: 10%;
  }
  &__resurs{
    left: 25%;
    top: 60%;
  }
}